body {
  margin: 0px;
  display: block;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 100px;
  font-size: 20px;
  font-family: Helvetica;
}

span.block {
  display: block;
  text-align: center;
}

#heading {
  padding: 5px;
  background: #008800;
  color: #FFFFFF;
  height: 50px;
}

#petition-count {
  font-size: 20px;
}

#information {
  background: #FFFFFF;
  color: black;
  height: 50px;
}

#petition-count {
  padding: 5px;
  margin: 5px;
}

#view-link-message {
  visibility: hidden;
  float: left;
  font-size: 13px;
  margin: 5px;
}

#random-petition,
#start-petition,
#headline-petition {
  margin: 5px;
  background-color: #008800;
  border: none;
  width: 110px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}

#headline-petition {
  float: right;
}

#random-petition {
  float: left;
}


#view-link {
  background:none!important;
  color:#0000EE;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #0000EE;
  cursor: pointer;
}
